<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign</title>
    <script src="/js/home/sign.js" defer></script>
    <link href="/css/form/login.css" rel="stylesheet"></link>
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input type="text" id="nickname" placeholder="nickname"/>
            <input type="text" id="id" placeholder="username"/>
            <input type="password" id="password" placeholder="password"/>
            <button id="submit">Create</button>
          </form>
        </div>
      </div>
</body>
</html>

<!-- Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->